.navbar{
  border-bottom: 1px solid #C14B85;
  position: fixed;
  background-color: white;
}
.navbar-brand{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.text-logo{
  color:#636262;
  font-size: 1.5em;
  transition: color .7s;
  
}

.text-logo:hover{
  color:#383636;
}