
<div class="d-flex justify-content-center justify-content-md-start">
  <div class="dropdown show">
    <button class="general-btn add-btn" type="button">
      <fa-icon class="mx-2" [icon]="faPlus"> </fa-icon>Add a new slide
    </button>
    <button type="button" class="general-btn option-btn dropdown-toggle mx-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Playlist options
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#"><fa-icon class="mx-2" [icon]="faEdit"></fa-icon>Edit playlist</a>
        <a class="dropdown-item" href="#"><fa-icon class="mx-2" [icon]="faTrashAlt"></fa-icon>Delete playlist</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><fa-icon class="mx-2" [icon]="faEye"></fa-icon>Preview playlist</a>
        <a class="dropdown-item" href="#"><fa-icon class="mx-2" [icon]="faCloudUploadAlt"></fa-icon>Publish playlist</a>
    </div>
  </div>
</div>

