
<div class="d-flex justify-content-center justify-content-md-start">
  <div class="dropdown show">
    <button class="general-btn add-btn" type="button">
      Add a new slide
    </button>
    <button type="button" class="general-btn option-btn dropdown-toggle mx-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Channel options
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>
</div>