<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngFor="let category of categories; index as i">
        <div><h2 class=""><span class="d-inline-flex">Channel<b id="category-name"class="category-name mx-2"> {{category.name.toUpperCase()}}</b>{{calculateTotDurarion(i)}}</span></h2></div>
        <div class="d-flex slides-category-container">
          <app-slides *ngFor="let val of category.slides" [element]="val">
          </app-slides>
        </div>
        
      </div>
    </div>
  </div>
</div>