<app-navbar></app-navbar>
<div class="content container-fluid" style="">
<div class="row full-height">
  <div class="col-12 col-md-12 col-xl-2 category-selection d-flex justify-content-center">
    <div class="channels-container">
      <div class="d-flex title-channels-selector"><div class="title-active">Active</div><div class="mx-2 title-channels">Playlists</div></div>
      <div *ngFor="let category of categories;index as i">
        <div class="text-center category-slider">
          <div>{{category.name.toUpperCase()}}</div>
          <mat-slide-toggle [checked]="true" (click)="test(category.name)"></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-12 col-xl-10 pb-3 pb-md-0">
    <div class="row">
      <div class="col-12 btns-channel-container">
        <div class="btns-all-channel d-flex justify-content-center">
          <button type="button" class="general-btn mx-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          PLAY THE ENTIRE CHANNEL
          </button><button type="button" class="general-btn mx-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADD PLAYLIST TO THE CHANNEL
          </button>
        </div>
        <div class="lighter channel-duration text-center">Total duration of the channel:<span class="text-purple bolder mx-2">{{totalDurationChannel()}}</span><fa-icon class="mx-2 color-grey" [icon]="faClock"></fa-icon></div>
      </div>
      <div class="col-12">
        <div *ngFor="let category of categories; index as i" >
          <div *ngIf="arrayChecked[category.name]" id="{{category.name}}">
            <div><h2 class=""><span class="d-inline-flex">Playlist<b id="" class="mx-2"> {{category.name.toUpperCase()}}</b></span></h2></div>
            <div class="col-12">
              <div class="d-flex align-items-center justify-content-center my-3">
                <div class="duration lighter">Playlist duration: </div>
                <div class="mx-2 d-flex  duration align-items-center"><div class="text-purple bolder">{{calculateTotDurarion(i)}}</div><fa-icon class="mx-2 color-grey" [icon]="faClock"></fa-icon></div>
                <i class="far fa-clock"></i>
              </div>
            </div>
            <div class="col-12">
            <app-category-buttons></app-category-buttons>
            <div class="d-flex slides-category-container my-4">
              <app-slides *ngFor="let val of category.slides" [element]="val">
              </app-slides>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>