.slides-category-container{
  overflow-x: scroll;
  
}
.slides-category-container div:last-child{
  margin-right: 0px;
}
h2 {
  color: #696969;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  position: relative;
  margin: 40px 15px 10px 15px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
h2::after {
  content: "";
  width: 100%;
  position: absolute;
  margin: 0 auto;
  height: 1px;
  border-radius: 1px;
  background: #d4d4d4;
  left: 0;
  right: 0;
  bottom: 14px;
}
h2 span {
  display: inline-block;
  padding: 0 25px;
  background:#ebebeb;
  position:relative;
  z-index:2;
}
.content{
  padding: 62px 0 0 0;
}
.category-selection{
  background-color: #cccbcb;
}
.full-height{
  min-height: calc(100vh - 62px);
}

.category-slider{
  border: 1px solid gray;
  margin: 10px 4% 10px 5%;
  border-radius: 30px;
  padding: 10px 0;
}
.channels-container{
  width: 100%;
}
.title-channels-selector{
  font-family: 'Open Sans', sans-serif;
  margin-top: 43px;
  font-size: 1.5em;
  justify-content: center;
  color: #777777;
  margin-bottom: 35px;
}
.category-selection{
  padding-bottom: 20px ;
}
.category-selection .title-channels{
  font-weight: 700;
}
.slides-category-container{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color:#e4e4e4;
  border-radius: 10px;
  
}
.lighter{
  font-weight: 200;
}
.bolder{
  font-weight: 500;
}
.color-grey{
  color:#b3b2b2;
}
.text-purple{
  color:#CC729F;
}
.duration,.channel-duration{
  font-size: 1.2em;
}
.channel-duration{
  margin: 20px 15px 20px 15px;
}
.general-btn{
  border:0;
  background: #CC729F;
  padding: 12px 12px;
  border-radius: 20px;
  color: #777777;
  font-size: 1em;
  color:white;
  font-size: 1em;
}
.general-btn:hover{
  background-color: #a1577c;
  color:white;
}
.btns-channel-container{
  background-color: #e6e6e6;
  border-bottom: 1px solid #d8d8d8;
}
.btns-all-channel{
  margin-top: 20px;
}
/deep/.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgb(218 118 192 / 54%)!important;
}
/deep/.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #CC729F;
}
